.checkbox {
  background: transparent;
  box-shadow: none;
  color: #333333;
  text-transform: none;
  display: flex;
  align-items: center;
}
.checkbox-icon {
  background: url(../checkboxs_and_radiobuttons.svg) no-repeat;
  width: 18px;
  height: 18px;
  background-position: 0 0px;
  margin-right: 14px;
}
.checkbox:hover .checkbox-icon {
  background-position: -18px 0px;
}
.checkbox.active .checkbox-icon {
  background-position: -36px 0px;
}
.checkbox .label {
  margin: 0 10px 0 0 !important;
}
