.footer {
  position: relative;
  margin-top: 223px;
  background-color: #333333;
  color: rgba(white, 0.45);
  min-width: 1200px;
}
.footer::before {
  position: absolute;
  top: -223px;
  z-index: -1;
  content: '';
  display: block;
  height: 223px;
  width: 100%;
  background: url(../Artboard.jpg) center bottom;
}
.footer-menu,
.footer-copyright {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.footer-menu {
  padding: 30px 0;
}
.footer-menu-list {
  width: 200px;
}
.footer-menu .list-title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-menu .list-item {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.footer-copyright {
  padding: 20px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.copy-links {
  display: flex;
}
.copy-link {
  padding-left: 10px;
}
.copy-link::after {
  content: ' | ';
  padding-left: 10px;
  display: inline-block;
}
.copy-link:first-child {
  padding-left: 0;
}
.copy-link:last-child::after {
  content: '';
}
.icon-android-app,
.icon-ios-app,
.icon-youtube,
.icon-twitter,
.icon-linkedin {
  background-image: url(../landing-sprite.svg);
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}
.icon-android-app {
  background-position: -224px 0;
}
.icon-ios-app {
  background-position: -256px 0;
}
.social-links {
  display: flex;
}
.social-links a {
  width: 42px;
  height: 42px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube:hover {
  background-color: #d62423;
}
.twitter:hover {
  background-color: #2caae1;
}
.linkedin:hover {
  background-color: #0077b5;
}
.icon-youtube {
  background-position: -128px -40px;
}
.icon-twitter {
  background-position: -160px -40px;
}
.icon-linkedin {
  background-position: -192px -40px;
}
