.home {
  color: #333333;
  padding-top: 80px;
  .instant-quote {
    width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .instant-quote-header {
    text-align: center;
    padding: 30px 0 45px 0;
  }
  .welcome {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 0;
  }
  .freight {
    color: #666666;
  }
  .agility {
    color: #f08200;
  }
  .title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .subtitle {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
  }
  .field.country,
  .field.package-type,
  .field.total {
    width: 200px;
  }
  .field.quantity,
  .field.volume,
  .field.revenue-ton {
    width: 120px;
  }
  .field.dimensions {
    width: 300px;
  }
  .field.weight {
    width: 260px;
  }
  .field.description {
    width: 100%;
  }
  .add-row {
    background-color: transparent;
    box-shadow: none;
  }
  .add-row .icon {
    background-image: url(../landing-sprite.svg);
    background-position: -66px 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
}
