.home {
  color: #333333;
  .instant-quote {
    box-sizing: border-box;
    width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .instant-quote-header {
    text-align: center;
    padding: 30px 0 45px 0;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 0;
  }
  .freight {
    color: #666666;
  }
  .agility {
    color: #f08200;
  }
  .title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .subtitle {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
  }
  .field.country,
  .field.package-type,
  .field.total {
    width: 200px;
  }
  .field.location {
    width: 50%;
  }
  .field.movement-type {
    width: 350px;
  }
  .field.revenue-tons {
    width: 120px;
  }
  .field.quantity,
  .field.volume {
    width: 80px;
  }
  .field.dimensions {
    border: none;
    width: 380px;
  }
  .field.dimensions .field-section {
    flex-basis: 25%;
  }
  .field.dimensions .checkbox {
    padding: 0;
    height: 20px;
    margin-top: -1px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  .field.dimensions .checkbox-icon {
    margin-right: 3px;
  }
  .field.weight {
    width: 260px;
  }
  .field.weight .field-section {
    flex-basis: calc(100% / 3);
  }
  .field.description {
    width: 100%;
  }
  .field.chargeable-weight {
    width: 360px;
  }
  .field.container-weight {
    width: 340px;
  }
  .field.total .field-section,
  .field.chargeable-weight .field-section {
    flex-basis: 50%;
  }
  .add-row,
  .remove-row {
    background-color: transparent;
    box-shadow: none;
  }
  .add-row .icon,
  .remove-row .icon {
    position: relative;
    top: 12px;
    background-image: url(../landing-sprite.svg);
    background-position: -66px 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
  .remove-row .icon {
    background-position: -66px -36px;
  }
  .hazardous-class {
    margin-top: -25px;
    margin-left: 15px;
    padding: 10px 10px;
    font-size: 14px;
    width: 350px;
    border: 1px solid #f08200;
    background-color: #ffebd3;
    display: flex;
    align-items: center;
  }
  .check-circle {
    background-image: url(../landing-sprite.svg);
    background-position: -190px -4px;
    height: 26px;
    width: 30px;
    margin-right: 8px;
  }
  .field.cargo-value,
  .field.cargo-value-currency {
    width: 250px;
  }
}
@media screen and (max-width: 750px) {
  .home {
    .instant-quote {
      width: 100%;
      padding: 0;
    }
    .instant-quote-header {
      min-height: 280px;
    }
    .welcome {
      font-size: 24px;
    }
    .field,
    .hazardous-class-outer,
    .hazardous-class {
      box-sizing: border-box;
      margin-bottom: 8px;
    }
    .hazardous-class-outer {
      margin: 0 -15px;
      padding: 0 15px;
    }
    .field.volume,
    .field.quantity,
    .field.package-type {
      width: 50%;
    }
    .field.location,
    .field.total,
    .field.chargeable-weight,
    .field.revenue-tons,
    .field.weight,
    .field.cargo-value,
    .field.cargo-value-currency,
    .hazardous-class-outer,
    .hazardous-class {
      width: 100%;
    }
    .field.quantity {
      display: inline-block;
    }
    .dimensions {
      max-width: 100%;
    }
  }
}
