.modal {
  // visibility: hidden;
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.5);
  z-index: 2000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-form {
  background-color: white;
  box-shadow: 0 5px 50px 2px rgba(0, 0, 0, 0.25);
  width: 568px;
  padding: 15px;
}
.modal-form .title {
  font-size: 24px;
  text-align: center;
}
.modal-header {
  padding-bottom: 20px;
  background: url(../pattern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.modal-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
  .modal {
    width: 100vw;
  }
  .modal-form {
    width: 90%;
  }
}
