.view-quotes {
  background-image: url(../bookings_bg.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  color: #333333;
  box-sizing: border-box;
}
